Repository grafana/plugin-tools, pull requests merged in 2022-11, with the labels that each got.

#134 Create-Plugin: Implement DataSourceWithBackend for datasource plugins with backend
  packages/create-plugin/templates/backend/src/datasource.ts
Labels: enhancement, create-plugin, minor

#136 Fix: Prevent error if rootUrls arg is not passed
  packages/sign-plugin/src/commands/sign.command.ts
Labels: bug, sign-plugin, patch, release

#137 CI: Introduce slack plugin for automating release messages
  .autorc
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: dependencies

#143 Bumping workflow version to use node 16 instead of deprecated node 12
  .github/workflows/ci.yml
Labels: chore

#142 Fix: include uppercase characters when normalising plugin id
  packages/create-plugin/src/utils/tests/utils.handlebars.test.ts
  packages/create-plugin/src/utils/utils.handlebars.ts
Labels: bug, create-plugin, patch, release

#146 Create-Plugin: Backend template: Switch from Info to Debug level
  packages/create-plugin/templates/backend/pkg/plugin/datasource.go
Labels: enhancement, create-plugin

#148 CI: Silence slack from pinging entire channel
  .autorc
Labels: chore

#144 Create-Plugin: Bump dependencies to support node 18
  packages/create-plugin/templates/common/package.json
Labels: create-plugin, patch, release, chore

#151 Create-plugin: Fix failing jest config
  packages/create-plugin/templates/common/.config/jest/utils.js
  packages/create-plugin/templates/common/.config/jest/utils.ts
Labels: create-plugin, patch, release

#138 Create-Plugin: Add backend template for app plugins
  packages/create-plugin/package.json
  packages/create-plugin/scripts/generate-app-backend.js
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/constants.ts
  packages/create-plugin/templates/backend-app/Magefile.go
  packages/create-plugin/templates/backend-app/go.mod
  packages/create-plugin/templates/backend-app/go.sum
  packages/create-plugin/templates/backend-app/pkg/main.go
  packages/create-plugin/templates/backend-app/pkg/plugin/app.go
  packages/create-plugin/templates/backend-app/pkg/plugin/resources.go
  packages/create-plugin/templates/backend-app/pkg/plugin/resources_test.go
Labels: enhancement, create-plugin, minor, release

#149 Create-Plugin: Update grafanaVersion to 9.2.5
  packages/create-plugin/src/constants.ts
Labels: create-plugin, patch, release

#152 CI: Speed up builds
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/img/grafana_icon.svg
Labels: chore

#155 Docs - make sure that angular is not supported
  packages/create-plugin/README.md
Labels: documentation, create-plugin, chore

#153 Create-Plugin: Add errors with status code in backend template
  packages/create-plugin/templates/backend/go.mod
  packages/create-plugin/templates/backend/go.sum
  packages/create-plugin/templates/backend/pkg/plugin/datasource.go
Labels: enhancement, create-plugin

#159 Create Plugin: Fix Plugin ID in backend to match plugin.json
  .github/workflows/ci.yml
  packages/create-plugin/scripts/generate-app-backend.js
  packages/create-plugin/templates/backend-app/pkg/main.go
  packages/create-plugin/templates/backend/pkg/main.go
Labels: bug, create-plugin, patch, release

#158 Create Plugin: Fix incorrect templates being used for scaffolding
  packages/create-plugin/src/commands/generate.plopfile.ts
Labels: bug, create-plugin, patch, release

#160 Create plugin: Introduce sign-plugin
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/templates/_partials/distributing-your-plugin.md
  packages/create-plugin/templates/app/README.md
  packages/create-plugin/templates/common/package.json
  packages/create-plugin/templates/datasource/README.md
  packages/create-plugin/templates/github/ci/.github/workflows/ci.yml
  packages/create-plugin/templates/github/ci/.github/workflows/release.yml
  packages/create-plugin/templates/github/is-compatible/.github/workflows/is-compatible.yml
  packages/create-plugin/templates/panel/README.md
Labels: create-plugin, minor, release, chore

#162 Create Plugin: Remove links pointing to deprecated starter templates
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/templates/datasource/src/plugin.json
  packages/create-plugin/templates/panel/src/plugin.json
Labels: bug, create-plugin, patch, release

#164 Create Plugin: Update Jest to v29
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/templates/common/.config/jest/utils.js
  packages/create-plugin/templates/common/package.json
Labels: dependencies, create-plugin, minor, release, chore
