Repository grafana/plugin-tools, pull requests merged in 2023-01, with the labels that each got.

#183 CI: Update workflows to use permissions rather than PAT
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/test-build.yml
Labels: chore

#167 Create Plugin: Update docs to build backend before running docker
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/templates/app/README.md
  packages/create-plugin/templates/datasource/README.md
  packages/create-plugin/templates/panel/README.md
Labels: documentation, create-plugin, patch, release

#184 Revert "CI: Update workflows to use permissions rather than PAT"
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/test-build.yml
Labels: chore

#168 Create Plugin: Update yarn scripts and instructions to work post scaffold
  docusaurus/docs/frontend.md
  packages/create-plugin/templates/_partials/frontend-getting-started.md
  packages/create-plugin/templates/common/package.json
  packages/create-plugin/templates/common/src/module.test.ts
Labels: documentation, create-plugin, patch, release

#182 Create Plugin: Make sure nested plugins dist directory structure is correct
  docusaurus/docs/folder-structure.md
  docusaurus/docs/nested-plugins.md
  docusaurus/website/sidebars.js
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/templates/common/.config/webpack/utils.ts
Labels: create-plugin, patch, release, type/bug

#190 Docs: Add Toolkit migration guide
  docusaurus/docs/folder-structure.md
  docusaurus/docs/getting-started.md
  docusaurus/docs/migrating-from-toolkit.md
  docusaurus/docs/updating-to-new-releases.md
  docusaurus/website/sidebars.js
Labels: documentation

#187 Sign Plugin: Return non zero exit code if error occurs
  packages/sign-plugin/src/commands/sign.command.ts
Labels: sign-plugin, patch, release, type/bug
