Repository grafana/plugin-tools, pull requests merged in 2023-03, with the labels that each got.

#203 Website: Improve documentation
  docusaurus/docs/advanced-configuration.md
  docusaurus/docs/backend.md
  docusaurus/docs/ci.md
  docusaurus/docs/creating-a-plugin.md
  docusaurus/docs/distributing-your-plugin.md
  docusaurus/docs/docker.md
  docusaurus/docs/frontend.md
  docusaurus/docs/getting-started.md
  docusaurus/docs/migrating-from-toolkit.md
  docusaurus/docs/updating-to-new-releases.md
  docusaurus/website/docusaurus.config.js
  docusaurus/website/sidebars.js
Labels: documentation

#208 Add `@latest` to docs and scripts using npx commands
  docusaurus/docs/creating-a-plugin.md
  docusaurus/docs/getting-started.md
  docusaurus/docs/migrating-from-toolkit.md
  docusaurus/docs/nested-plugins.md
  docusaurus/docs/updating-to-new-releases.md
  packages/create-plugin/README.md
  packages/create-plugin/templates/common/package.json
  packages/sign-plugin/README.md
Labels: documentation, enhancement, create-plugin, patch, release

#214 Auto update grafana go sdk after generation
  packages/create-plugin/package.json
  packages/create-plugin/src/commands/generate-actions/print-success-message.ts
  packages/create-plugin/src/commands/generate-actions/update-go-sdk-and-packages.ts
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/commands/types.ts
  packages/create-plugin/src/utils/utils.path.ts
  yarn.lock
Labels: create-plugin, minor, release

#207 Keep custom executable name if defined
  packages/create-plugin/templates/common/.config/webpack/utils.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: patch, release, type/bug

#215 Chore: Update `@grafana/eslint-config`
  package.json
  yarn.lock
Labels: create-plugin, sign-plugin, patch, release, chore

#219 Fix: GH bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore

#220 Chore: Apply version bumps
  yarn.lock
Labels: chore

#221 Chore: Remove unused deps from scaffolded plugins
  packages/create-plugin/templates/common/package.json
Labels: create-plugin, patch, release

#216 Run go mod tidy after generating with backend
  packages/create-plugin/src/commands/generate-actions/update-go-sdk-and-packages.ts
  packages/create-plugin/templates/backend-app/go.mod
  packages/create-plugin/templates/backend-app/go.sum
  packages/create-plugin/templates/backend/go.mod
  packages/create-plugin/templates/backend/go.sum
Labels: enhancement, create-plugin, patch, release

#225 Template: Removed the module.test.ts file from being scafollded by create-plugin
  packages/create-plugin/templates/common/src/module.test.ts
Labels: create-plugin, minor, release, chore

#227 Website: Bump Docusaurus dependencies to 2.4.0
  docusaurus/website/package.json
  yarn.lock
Labels: internal, chore

#217 Create Plugin: Don't upgrade grafana dependencies when running update command
  packages/create-plugin/src/commands/update.command.ts
  packages/create-plugin/src/utils/utils.console.ts
  packages/create-plugin/src/utils/utils.npm.ts
Labels: create-plugin, patch, release, type/bug
