Repository grafana/plugin-tools, pull requests merged in 2023-11, with the labels that each got.

#504 Bump tough-cookie from 4.0.0 to 4.1.3
  package-lock.json
Labels: dependencies, javascript, no-changelog

#505 Bump word-wrap from 1.2.3 to 1.2.5
  package-lock.json
Labels: dependencies, javascript, no-changelog

#506 Adding support for controling the create-plugin tool via a rc file
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/commands/types.ts
  packages/create-plugin/src/utils/utils.config.ts
  packages/create-plugin/src/utils/utils.packageManager.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/src/utils/utils.version.ts
  packages/create-plugin/templates/common/.config/.cprc.json
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/.cprc.json
Labels: minor, release

#518 Create Plugin: Fix app backend test
  packages/create-plugin/templates/backend-app/pkg/plugin/resources_test.go
Labels: create-plugin, patch, release

#523 Update prompts-cli.md
  docusaurus/docs/get-started/prompts-cli.md
Labels: type/docs, no-changelog

#522 Update folder-structure.md
  docusaurus/docs/get-started/folder-structure.md
Labels: type/docs, no-changelog

#508 docs: move troubleshooting plugin loading
  docusaurus/docs/introduction/plugin-lifecycle.md
Labels: type/docs, no-changelog

#507 Create Plugin: Replace 'master' with 'main' on ref
  packages/create-plugin/fixtures/test-template/src/plugin.json
  packages/create-plugin/templates/app/src/plugin.json
  packages/create-plugin/templates/datasource/src/plugin.json
  packages/create-plugin/templates/panel/src/plugin.json
  packages/create-plugin/templates/scenes-app/src/plugin.json
Labels: create-plugin, patch

#527 Logs: Update labels field based on updates dataPlane spec
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
Labels: no-changelog

#503 update to use sha1sum and minor workflow updates
  docusaurus/docs/publish-a-plugin/publish-or-update-a-plugin.md
  packages/create-plugin/templates/github/ci/.github/workflows/ci.yml
  packages/create-plugin/templates/github/ci/.github/workflows/release.yml
Labels: minor, release

#524 Update build-a-panel-plugin.md
  docusaurus/docs/tutorials/build-a-panel-plugin.md
Labels: type/docs, no-changelog

#534 Docs: Update contribution guides
  CONTRIBUTING.md
  README.md
  docusaurus/website/CONTRIBUTING.md
  packages/create-plugin/CONTRIBUTING.md
  packages/sign-plugin/CONTRIBUTING.md
Labels: type/docs, no-changelog

#532 Docs: Add FAQ on toolkit to publishing section
  docusaurus/docs/publish-a-plugin/publish-or-update-a-plugin.md
Labels: no-changelog

#519 Website: Update Docusaurus to v3
  CHANGELOG.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/set-up-github-workflows.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-frontend.mdx
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-authentication-for-data-source-plugins.md
  docusaurus/docs/introduction/manage-npm-dependencies.md
  docusaurus/docs/introduction/plugin-lifecycle.md
  docusaurus/docs/migration-guides/migrate-from-toolkit.mdx
  docusaurus/docs/migration-guides/update-create-plugin-versions.mdx
  docusaurus/docs/publish-a-plugin/publish-or-update-a-plugin.md
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
  docusaurus/docs/ui-extensions/create-an-extension-point.md
  docusaurus/website/docusaurus.config.base.js
  docusaurus/website/docusaurus.config.dev.js
  docusaurus/website/docusaurus.config.js
  docusaurus/website/package.json
  docusaurus/website/src/theme/Root.tsx
  docusaurus/website/src/theme/tracking/index.ts
  docusaurus/website/tsconfig.json
  package-lock.json
  packages/create-plugin/CHANGELOG.md
Labels: type/docs, no-changelog

#536 Docs: Further updates to contributing guides
  CONTRIBUTING.md
  README.md
  docusaurus/website/CONTRIBUTING.md
  packages/sign-plugin/CONTRIBUTING.md
Labels: type/docs, no-changelog

#535 Docs: Fix code block indentations and use titles and tsx
  docusaurus/docs/create-a-plugin/develop-a-plugin/plugin-spellcheck.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-data-frames.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-anonymous-usage-reporting.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-authentication-for-data-source-plugins.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-query-editor-help.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-support-for-explore-queries.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-support-for-variables.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/custom-panel-option-editors.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/enable-annotations.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/extend-configurations.md
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/get-started/prompts-cli.md
  docusaurus/docs/get-started/set-up-development-environment.mdx
  docusaurus/docs/migration-guides/angular-react/angular-react.md
  docusaurus/docs/publish-a-plugin/package-a-plugin.md
  docusaurus/docs/shared/create-plugin-backend.md
  docusaurus/docs/shared/create-plugin-frontend.md
  docusaurus/docs/shared/plugin-anatomy.md
  docusaurus/docs/snippets/createplugin-build-ci.npm.md
  docusaurus/docs/snippets/createplugin-build-ci.pnpm.md
  docusaurus/docs/snippets/createplugin-build-ci.yarn.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-data-source-plugin.md
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
  docusaurus/docs/tutorials/build-a-panel-plugin-with-d3.md
  docusaurus/docs/tutorials/build-a-panel-plugin.md
  docusaurus/docs/tutorials/build-a-streaming-data-source-plugin.md
  docusaurus/docs/ui-extensions/create-an-extension-point.md
  docusaurus/docs/ui-extensions/register-an-extension.md
Labels: type/docs, no-changelog

#533 Plugin E2E workspace prep
  package-lock.json
  package.json
  packages/plugin-e2e/CHANGELOG.md
  packages/plugin-e2e/CONTRIBUTING.md
  packages/plugin-e2e/LICENSE
  packages/plugin-e2e/README.md
  packages/plugin-e2e/docker-compose.yaml
  packages/plugin-e2e/jest.config.js
  packages/plugin-e2e/package.json
  packages/plugin-e2e/src/index.ts
  packages/plugin-e2e/tsconfig.json
Labels: no-changelog

#537 Plugin E2E: Add E2E selectors
  packages/plugin-e2e/package.json
  packages/plugin-e2e/src/e2e-selectors/index.ts
  packages/plugin-e2e/src/e2e-selectors/resolver.test.ts
  packages/plugin-e2e/src/e2e-selectors/resolver.ts
  packages/plugin-e2e/src/e2e-selectors/types.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/apis.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/components.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/constants.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/index.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/pages.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/types.ts
  packages/plugin-e2e/src/index.ts
Labels: no-changelog, skip-release

#531 Add code comments on 'Add anonymous usage reporting' topic
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-anonymous-usage-reporting.md
Labels: no-changelog

#538 Plugin E2E: Add first fixtures
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  packages/plugin-e2e/package.json
  packages/plugin-e2e/playwright.config.ts
  packages/plugin-e2e/src/api.ts
  packages/plugin-e2e/src/fixtures/grafanaVersion.ts
  packages/plugin-e2e/src/fixtures/index.ts
  packages/plugin-e2e/src/fixtures/selectors.ts
  packages/plugin-e2e/src/fixtures/types.ts
  packages/plugin-e2e/src/index.ts
  packages/plugin-e2e/tests/README.md
  packages/plugin-e2e/tests/selectors.spec.ts
Labels: no-changelog

#521 should avoid running for dependabot prs
  .github/workflows/typedocs.yml
Labels: chore, no-changelog, github_actions

#542 Docs: Add plugin examples folder
  docusaurus/docs/plugin-examples/_category_.json
  docusaurus/docs/plugin-examples/index.md
Labels: type/docs, no-changelog

#550 Update index.md
  docusaurus/docs/plugin-examples/index.md
Labels: type/docs, no-changelog

#545 Mention new alerting extension point PR in docs
  docusaurus/docs/ui-extensions/register-an-extension.md
Labels: type/docs, no-changelog

#526 Docs: Replace DocCardLists with DocLinkLists
  docusaurus/docs/create-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/develop-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/develop-a-plugin/index.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/extend-a-plugin/index.md
  docusaurus/docs/create-a-plugin/index.md
  docusaurus/docs/introduction/index.md
  docusaurus/docs/migration-guides/angular-react/_category_.json
  docusaurus/docs/migration-guides/index.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/_category_.json
  docusaurus/docs/migration-guides/update-from-grafana-versions/index.md
  docusaurus/docs/tutorials/_category_.json
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-data-source-plugin.md
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
  docusaurus/docs/tutorials/build-a-panel-plugin-with-d3.md
  docusaurus/docs/tutorials/build-a-streaming-data-source-plugin.md
  docusaurus/docs/tutorials/index.md
  docusaurus/website/src/components/DocLinkList/DocLinkList.tsx
Labels: type/docs, no-changelog

#551 Plugin E2E: Make it possible to test query editor in panel edit page
  .github/workflows/playwright.yml
  packages/plugin-e2e/docker-compose.yaml
  packages/plugin-e2e/playwright.config.ts
  packages/plugin-e2e/provisioning/datasources/google-sheets-datasource-jwt.yaml
  packages/plugin-e2e/src/api.ts
  packages/plugin-e2e/src/e2e-selectors/types.ts
  packages/plugin-e2e/src/e2e-selectors/versioned/components.ts
  packages/plugin-e2e/src/fixtures/commands/createDataSourceConfigPage.ts
  packages/plugin-e2e/src/fixtures/commands/readProvision.ts
  packages/plugin-e2e/src/fixtures/index.ts
  packages/plugin-e2e/src/fixtures/newDashboardPage.ts
  packages/plugin-e2e/src/fixtures/panelEditPage.ts
  packages/plugin-e2e/src/matchers/index.ts
  packages/plugin-e2e/src/matchers/toHavePanelError.ts
  packages/plugin-e2e/src/models/DashboardPage.ts
  packages/plugin-e2e/src/models/DataSourcePicker.ts
  packages/plugin-e2e/src/models/GrafanaPage.ts
  packages/plugin-e2e/src/models/PanelEditPage.ts
  packages/plugin-e2e/src/models/TimeRange.ts
  packages/plugin-e2e/src/models/index.ts
  packages/plugin-e2e/src/selectorEngine.ts
  packages/plugin-e2e/src/types.ts
  packages/plugin-e2e/tests/datasource/configEditor.spec.ts
  packages/plugin-e2e/tests/datasource/mocks/resource.ts
  packages/plugin-e2e/tests/datasource/queryEditor.integration.spec.ts
  packages/plugin-e2e/tests/datasource/queryEditor.spec.ts
  packages/plugin-e2e/tests/selectors.spec.ts
  packages/plugin-e2e/tsconfig.json
Labels: no-changelog
