Repository grafana/plugin-tools, pull requests merged in 2023-10, with the labels that each got.

#427 Bugfix: Enable plugins to lazy load modules
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: patch, release, type/bug

#431 Adjusting dependabot dependency labels
  .autorc
  .github/dependabot.yml
Labels: dependencies, github_actions

#417 Docs: add topic working-with-data-frames
  docusaurus/docs/create-a-plugin/develop-a-plugin/set-up-github-workflows.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-data-frames.md
Labels: type/docs, no-changelog

#437 Add fixes for backend sdk v0.177.0
  packages/create-plugin/templates/backend-app/pkg/plugin/app.go
  packages/create-plugin/templates/backend/pkg/plugin/datasource.go
Labels: type/bug

#424 Create-plugin: Make baseURL absolute and bump swc/core
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/package.json
Labels: create-plugin, patch, release

#440 Docs: Fix links broken by deprecation of docs on grafana repo
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/introduction/backend.md
  docusaurus/docs/metadata.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v7.x-v8.x.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v9.3.x-9.4.x.md
  docusaurus/docs/ui-extensions/register-an-extension.md
Labels: type/docs, no-changelog

#418 Docs: add plugin spellcheck internal doc
  docusaurus/docs/create-a-plugin/develop-a-plugin/plugin-spellcheck.md
Labels: type/docs, no-changelog

#423 Docs: Add workflows for tech docs
  .github/workflows/issue_commands.json
  .github/workflows/typedocs.yml
Labels: no-changelog

#458 Update only dev dependencies when the update command runs
  packages/create-plugin/src/commands/update.command.ts
  packages/create-plugin/src/utils/tests/utils.npm.test.ts
  packages/create-plugin/src/utils/utils.npm.ts
  packages/create-plugin/src/utils/utils.packageManager.ts
  packages/create-plugin/src/utils/utils.packagejson.ts
Labels: create-plugin, minor, release

#460 CI: Fix failing type-docs workflow
  .github/issue_commands.json
  .github/workflows/issue_commands.json
  .github/workflows/typedocs.yml
Labels: chore, no-changelog

#451 Create Plugin: Format code under templates/common
  packages/create-plugin/templates/common/.config/.eslintrc
  packages/create-plugin/templates/common/.config/.prettierrc.js
  packages/create-plugin/templates/common/.config/tsconfig.json
  packages/create-plugin/templates/common/.config/webpack/utils.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/.eslintrc
  packages/create-plugin/templates/common/.nvmrc
  packages/create-plugin/templates/common/.prettierrc.js
  packages/create-plugin/templates/common/CHANGELOG.md
  packages/create-plugin/templates/common/tsconfig.json
Labels: patch, release, chore

#445 Build: Add action to verify PR labels
  .github/actions/check-labels/action.yml
  .github/actions/check-labels/index.js
  .github/actions/check-labels/messages.js
  .github/actions/check-labels/package-lock.json
  .github/actions/check-labels/package.json
  .github/workflows/check-labels.yml
  .github/workflows/ci.yml
Labels: no-changelog

#339 Build: Enable NX cloud
  .github/workflows/ci.yml
  .github/workflows/deploy-to-developer-portal-dev.yml
  .github/workflows/deploy-to-developer-portal-prod.yml
  .github/workflows/test-build.yml
  .gitignore
  docusaurus/website/package.json
  nx.json
  package-lock.json
  package.json
Labels: chore, no-changelog

#464 Create Plugin: Prevent conflicting webpack runtimes
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, patch, release

#469 Website: Fix install command on get started page
  docusaurus/docs/get-started/get-started.mdx
Labels: type/docs, no-changelog

#465 Update auth docs to include changes in SDK version 0.182.0
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-authentication-for-data-source-plugins.md
Labels: type/docs, no-changelog

#420 migration-docs: guide for kbn conversion
  docusaurus/docs/migration-guides/angular-react-convert-from-kbn.md
Labels: type/docs, no-changelog

#470 Move angular docs to folder
  docusaurus/docs/migration-guides/angular-react/_category_.json
  docusaurus/docs/migration-guides/angular-react/angular-react-convert-from-kbn.md
  docusaurus/docs/migration-guides/angular-react/angular-react.md
  docusaurus/docs/migration-guides/migrate-from-toolkit.mdx
  docusaurus/docs/migration-guides/update-create-plugin-versions.mdx
  docusaurus/docs/migration-guides/update-from-grafana-versions/_category_.json
Labels: type/docs, no-changelog

#471 Update angular-react.md
  docusaurus/docs/migration-guides/angular-react/angular-react.md
Labels: type/docs, no-changelog

#461 Create Plugin: Make sure scaffolded code is prettified
  .eslintignore
  .husky/.gitignore
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
  packages/create-plugin/src/commands/generate-actions/prettify-files.ts
  packages/create-plugin/src/commands/generate.plopfile.ts
Labels: minor, release, chore

#476 Docs: Fix broken links in package files
  packages/create-plugin/templates/_partials/backend-getting-started.md
  packages/create-plugin/templates/_partials/distributing-your-plugin.md
  packages/create-plugin/templates/app/README.md
  packages/create-plugin/templates/backend/pkg/plugin/datasource.go
  packages/create-plugin/templates/common/src/README.md
  packages/create-plugin/templates/datasource/README.md
  packages/create-plugin/templates/github/ci/.github/workflows/release.yml
  packages/create-plugin/templates/panel/README.md
  packages/sign-plugin/README.md
  packages/sign-plugin/src/utils/manifest.ts
Labels: type/docs, patch

#477 Docs: fix backend developer resources link
  docusaurus/docs/get-started/get-started.mdx
  package.json
Labels: type/docs, no-changelog

#481 Chore: Fix eslint and prettier
  .eslintignore
  .prettierignore
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/utils/tests/utils.templates.test.ts
  packages/create-plugin/templates/common/.config/_eslintrc
  packages/create-plugin/templates/common/_eslintrc
  packages/create-plugin/templates/common/_package.json
Labels: chore, no-changelog

#388 Templates/Webpack: Include full path in dev mode image output filename
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: patch, release

#467 Docs: Add link to data frames topic, add Time info
  docusaurus/docs/introduction/data-frames.md
Labels: type/docs, no-changelog

#448 Docs: Enhance backend plugins topic in "Introduction"
  docusaurus/docs/introduction/backend.md
Labels: type/docs, no-changelog

#483 Fix metadata in spellcheck file
  docusaurus/docs/create-a-plugin/develop-a-plugin/plugin-spellcheck.md
Labels: type/docs, no-changelog

#453 Docs: Add topic on plugin types and usage
  docusaurus/docs/introduction/backend.md
  docusaurus/docs/introduction/plugin-types-usage.md
Labels: type/docs, no-changelog

#486 fix plugin-types-usage.md
  docusaurus/docs/introduction/plugin-types-usage.md
Labels: type/docs, no-changelog

#487 Create Plugin: Fix migrate and update commands
  packages/create-plugin/src/utils/utils.packagejson.ts
Labels: create-plugin, patch, release, type/bug

#488 Website: Update theme for alert
  docusaurus/website/src/css/custom.css
Labels: type/docs, no-changelog

#490 Create Plugin: Fix wrongly named files when upgrading/migrating
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/utils/utils.files.ts
  packages/create-plugin/src/utils/utils.templates.ts
Labels: create-plugin, patch, release, type/bug

#478 Bump to node 20
  .github/workflows/check-labels.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-to-developer-portal-dev.yml
  .github/workflows/deploy-to-developer-portal-prod.yml
  .github/workflows/test-build.yml
  package-lock.json
  package.json
  packages/create-plugin/package.json
  packages/create-plugin/templates/common/_package.json
  packages/create-plugin/templates/github/ci/.github/workflows/ci.yml
  packages/create-plugin/templates/github/ci/.github/workflows/release.yml
  packages/create-plugin/templates/github/is-compatible/.github/workflows/is-compatible.yml
  packages/sign-plugin/package.json
Labels: minor, release

#489 Website: Fix tracking issue with missing canonical links
  docusaurus/website/src/theme/tracking/index.ts
Labels: type/docs, type/bug, no-changelog

#268 Create Plugin: Lint Deprecation Warnings
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-frontend.mdx
  docusaurus/docs/create-a-plugin/extend-a-plugin/extend-configurations.md
  packages/create-plugin/templates/common/.config/_eslintrc
  packages/create-plugin/templates/common/_package.json
Labels: create-plugin, minor, release

#456 clarify that preloading is only applicable to app plugins
  docusaurus/docs/metadata.md
Labels: type/docs, no-changelog

#492 Website: Add dev env alert to npm deps doc
  docusaurus/docs/get-started/set-up-development-environment.mdx
  docusaurus/docs/introduction/manage-npm-dependencies.md
Labels: type/docs, no-changelog

#484 Docs: Refactor 'Get started' section
  docusaurus/docs/create-a-plugin/index.md
  docusaurus/docs/get-started/folder-structure.md
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/get-started/prompts-cli.md
  docusaurus/docs/get-started/set-up-development-environment.mdx
Labels: type/docs, no-changelog

#457 Docs: add topic for lifecycle of a plugin
  docusaurus/docs/introduction/plugin-lifecycle.md
Labels: type/docs, no-changelog

#496 Remove duplicated text from dev env doc
  docusaurus/docs/get-started/set-up-development-environment.mdx
Labels: type/docs, no-changelog

#463 CI: Split gh workflow generate commands into a matrix
  .github/workflows/ci.yml
Labels: chore, no-changelog

#495 Docs: Fix broken link on 'Get started' page
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/introduction/plugin-types-usage.md
Labels: type/docs, no-changelog

#498 Bump nvmrc to 20 to align with package.json
  packages/create-plugin/templates/common/.nvmrc
Labels: patch

#499 Update README.md
  README.md
Labels: chore, no-changelog

#441 Create Plugin: Add metadata file to configs
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/commands/types.ts
  packages/create-plugin/src/commands/version.command.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/src/utils/utils.version.ts
  packages/create-plugin/templates/common/.config/.create-plugin.json
Labels: create-plugin, patch

#501 Revert "Create Plugin: Add metadata file to configs"
  packages/create-plugin/src/commands/generate.plopfile.ts
  packages/create-plugin/src/commands/types.ts
  packages/create-plugin/src/commands/version.command.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/src/utils/utils.version.ts
  packages/create-plugin/templates/common/.config/.create-plugin.json
Labels: no-changelog

#462 Docs: Edit docs in "Publishing" section of site
  docusaurus/docs/publish-a-plugin/package-a-plugin.md
  docusaurus/docs/publish-a-plugin/publish-or-update-a-plugin.md
  docusaurus/docs/publish-a-plugin/publishing-and-signing-criteria.md
  docusaurus/docs/publish-a-plugin/sign-a-plugin.md
Labels: type/docs, no-changelog

#494 Docs: Fix error in backend plugins doc in caching section
  docusaurus/docs/introduction/backend.md
Labels: type/docs, no-changelog

#493 Website: Add a DocLinkList component
  docusaurus/website/src/components/DocLinkList/DocLinkList.tsx
  docusaurus/website/src/components/DocLinkList/styles.module.css
  docusaurus/website/src/theme/MDXComponents.tsx
Labels: type/docs, no-changelog

#502 Log context support: deprecate showContextToggle
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
Labels: no-changelog
