Repository grafana/plugin-tools, pull requests merged in 2023-02, with the labels that each got.

#195 Create Plugin: Fix deeply nested plugins
  packages/create-plugin/templates/common/.config/webpack/utils.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, patch, release, type/bug

#197 CreatePlugin: Change default docker image to grafana-enterprise
  docusaurus/docs/advanced-configuration.md
  packages/create-plugin/templates/common/.config/Dockerfile
  packages/create-plugin/templates/common/.config/README.md
Labels: create-plugin, minor, release

#172 Update datasource plugin template
  packages/create-plugin/templates/backend/pkg/plugin/datasource.go
  packages/create-plugin/templates/datasource/src/components/ConfigEditor.tsx
  packages/create-plugin/templates/datasource/src/components/QueryEditor.tsx
Labels: enhancement, create-plugin, minor, release

#193 Introduce version commands
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  docs/img/grafana_icon.svg
  docusaurus/docs/migrating-from-toolkit.md
  docusaurus/website/static/img/logo.svg
  package.json
  packages/create-plugin/README.md
  packages/create-plugin/src/bin/run.ts
  packages/create-plugin/src/commands/index.ts
  packages/create-plugin/src/commands/version.command.ts
  packages/create-plugin/src/constants.ts
  packages/create-plugin/templates/common/.config/.eslintrc
  packages/create-plugin/templates/common/.config/jest-setup.js
  packages/create-plugin/templates/common/.config/jest.config.js
  packages/create-plugin/templates/common/.config/tsconfig.json
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/sign-plugin/src/bin/run.ts
  packages/sign-plugin/src/commands/index.ts
  packages/sign-plugin/src/commands/version.command.ts
Labels: documentation, create-plugin, sign-plugin, major, release
