Repository grafana/plugin-tools, pull requests merged in 2024-05, with the labels that each got.

#889 Docs: Add page about fetching data from frontend code using the data proxy
  docusaurus/docs/create-a-plugin/extend-a-plugin/fetch-data-from-frontend.md
Labels: type/docs, no-changelog

#876 Docs: Reorganize 'Reference' directory
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-authentication-for-data-source-plugins.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/enable-annotations.md
  docusaurus/docs/e2e-test-a-plugin/ci.md
  docusaurus/docs/e2e-test-a-plugin/feature-toggles.md
  docusaurus/docs/e2e-test-a-plugin/get-started.md
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/introduction/plugin-types-usage.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v7.x-v8.x.md
  docusaurus/docs/reference/_category_.json
  docusaurus/docs/reference/cli-commands.md
  docusaurus/docs/reference/metadata.md
  docusaurus/docs/reference/prompts.md
  docusaurus/docs/shared/plugin-anatomy.md
  docusaurus/docs/troubleshooting.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
  docusaurus/docs/ui-extensions/register-an-extension.md
  docusaurus/website/docusaurus.config.base.js
  packages/create-plugin/templates/app/README.md
  packages/create-plugin/templates/common/src/README.md
  packages/create-plugin/templates/datasource/README.md
  packages/create-plugin/templates/panel/README.md
Labels: type/docs, no-changelog

#837 Create-plugin: Refactor getTemplateData to be used in generate command and update commands
  .github/workflows/ci.yml
  docusaurus/docs/migration-guides/angular-react/angular-react-custom-configuration-components.md
  packages/create-plugin/fixtures/test-template/src/plugin.json
  packages/create-plugin/src/commands/generate.command.ts
  packages/create-plugin/src/commands/generate/print-success-message.ts
  packages/create-plugin/src/commands/generate/prompt-user.ts
  packages/create-plugin/src/commands/migrate.command.ts
  packages/create-plugin/src/commands/provisioning.command.ts
  packages/create-plugin/src/commands/types.ts
  packages/create-plugin/src/types.ts
  packages/create-plugin/src/utils/utils.handlebars.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/templates/app/provisioning/plugins/apps.yaml
  packages/create-plugin/templates/app/src/plugin.json
  packages/create-plugin/templates/backend-app/pkg/main.go
  packages/create-plugin/templates/backend/pkg/main.go
  packages/create-plugin/templates/datasource/provisioning/datasources/datasources.yml
  packages/create-plugin/templates/datasource/src/plugin.json
  packages/create-plugin/templates/panel/src/plugin.json
  packages/create-plugin/templates/scenes-app/provisioning/plugins/app.yaml
  packages/create-plugin/templates/scenes-app/src/plugin.json
Labels: create-plugin, patch, release

#871 Webpack: Generate meta-data using the plugin-meta-extractor during builds
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/_package.json
Labels: enhancement, create-plugin, minor, release

#899 Create Plugin: polyfill `TextEncoder` for Jest tests in scaffolded plugins
  packages/create-plugin/templates/common/.config/jest-setup.js
Labels: create-plugin, patch, release, type/bug

#900 Chore: Run unit tests on the CI for every plugin scaffold
  .github/workflows/ci.yml
Labels: create-plugin, chore, no-changelog

#901 Chore: removing version from docker compose file as it is deprecated
  packages/create-plugin/templates/common/docker-compose.yaml
Labels: create-plugin, no-changelog, skip-release

#902 PME: Removed dependency on tsquery
  package-lock.json
  packages/plugin-meta-extractor/package.json
  packages/plugin-meta-extractor/src/meta-extractor.ts
  packages/plugin-meta-extractor/src/utils.ts
Labels: patch, release

#903 Chore: Adding plugin meta extractor to GH templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: chore, no-changelog

#905 CreatePlugin: Updating template to use latest version of plugin meta extractor
  packages/create-plugin/templates/common/_package.json
Labels: patch, release

#909 Chore: Remove homepage features
  docusaurus/docs/ui-extensions/create-an-extension-point.md
  docusaurus/website/package.json
  docusaurus/website/src/components/HomepageFeatures/index.tsx
  docusaurus/website/src/components/HomepageGettingStarted/index.tsx
  docusaurus/website/src/components/HomepageGettingStarted/styles.module.css
  package-lock.json
Labels: type/docs, no-changelog, skip-release

#910 Create plugin: Disable development mode by default
  .github/workflows/ci.yml
  docusaurus/docs/get-started/set-up-development-environment.mdx
  packages/create-plugin/src/commands/generate/print-success-message.ts
  packages/create-plugin/templates/backend-app/.vscode/launch.json
  packages/create-plugin/templates/backend/.vscode/launch.json
  packages/create-plugin/templates/common/.config/Dockerfile
  packages/create-plugin/templates/common/docker-compose.yaml
Labels: create-plugin, patch, release

#911 Docs: Document how to run queries in parallel
  docusaurus/docs/create-a-plugin/develop-a-plugin/best-practices.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
Labels: no-changelog

#891 Docs: Instructions on how to write E2E tests for app plugins
  docusaurus/docs/e2e-test-a-plugin/test-an-app-plugin/_category_.json
  docusaurus/docs/e2e-test-a-plugin/test-an-app-plugin/app-pages.md
  docusaurus/docs/e2e-test-a-plugin/test-an-app-plugin/configuration-editor.md
  docusaurus/docs/e2e-test-a-plugin/test-an-app-plugin/index.md
Labels: type/docs, no-changelog

#897 Improve content and order for the frontend data proxy documentation
  docusaurus/docs/create-a-plugin/extend-a-plugin/fetch-data-from-frontend.md
Labels: type/docs, no-changelog

#918 Docs: Fix some broken links
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-authentication-for-data-source-plugins.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/add-support-for-variables.md
Labels: type/docs, no-changelog

#890 Create plugin: CI workflow improvements
  docusaurus/docs/e2e-test-a-plugin/ci.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.yarn.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.yarn.md
  packages/create-plugin/templates/github/ci/.github/workflows/ci.yml
Labels: patch, release

#923 Create-plugin: stop extracting plugin-meta on builds
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, minor, release

#927 Plugin E2E: Fix broken test
  .github/workflows/playwright.yml
  packages/plugin-e2e/tests/as-admin-user/datasource/explore/queryEditor.spec.ts
Labels: no-changelog

#924 Create plugin: use existing executable name on update
  packages/create-plugin/src/types.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/templates/common/.config/supervisord/supervisord.conf
Labels: create-plugin, patch, release

#928 Plugin meta extractor: add a warning to the README
  packages/plugin-meta-extractor/README.md
Labels: patch, release

#922 Docs: Remove prompts content from update command page
  docusaurus/docs/migration-guides/update-create-plugin-versions.mdx
Labels: type/docs, no-changelog

#912 Update select option selector to use `data-testid`
  packages/plugin-e2e/src/e2e-selectors/versioned/components.ts
Labels: patch, release

#930 Plugin E2E: Allow overriding grafanaAPICredentials
  packages/plugin-e2e/playwright.config.ts
  packages/plugin-e2e/src/fixtures/commands/createUser.ts
  packages/plugin-e2e/src/fixtures/commands/gotoDataSourceConfigPage.ts
  packages/plugin-e2e/src/fixtures/commands/login.ts
  packages/plugin-e2e/src/options.ts
  packages/plugin-e2e/src/types.ts
  packages/plugin-e2e/tests/as-admin-user/datasource/annotations/annotationEditor.spec.ts
  packages/plugin-e2e/tests/as-admin-user/datasource/variables/customVariableEditor.spec.ts
Labels: minor, release

#935 Docs: Plugin E2E - Add section about user management
  docusaurus/docs/e2e-test-a-plugin/authentication.md
Labels: type/docs, no-changelog
