Repository grafana/plugin-tools, pull requests merged in 2024-07, with the labels that each got.

#970 Create-Plugin: Add version comment to bundled Javascript
  packages/create-plugin/templates/common/.config/webpack/utils.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/npmrc
Labels: create-plugin, minor, release

#986 Docs: add note to publish plugin topic
  docusaurus/docs/publish-a-plugin/publish-or-update-a-plugin.md
Labels: no-changelog

#978 Doc: Move/rename 3 topics into app plugins how-to category
  docusaurus/docs/how-to-guides/app-plugins/_category_.json
  docusaurus/docs/how-to-guides/app-plugins/error-handling-in-app-plugins.md
  docusaurus/docs/how-to-guides/app-plugins/include-dashboards-in-app-plugins.md
  docusaurus/docs/how-to-guides/app-plugins/work-with-nested-plugins.md
  docusaurus/docs/key-concepts/plugin-types-usage.md
  docusaurus/docs/tutorials/build-an-app-plugin.md
  docusaurus/website/docusaurus.config.base.js
Labels: no-changelog

#976 Docs: Reorganize data source files into how-to-guides section (re-do)
  docusaurus/docs/create-a-plugin/_category_.json
  docusaurus/docs/get-started/best-practices.md
  docusaurus/docs/how-to-guides/data-source-plugins/_category_.json
  docusaurus/docs/how-to-guides/data-source-plugins/add-annotations-for-data-source-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-authentication-for-data-source-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-features-for-explore-queries.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-logs-metrics-traces-for-backend-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-query-editor-help.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-resource-handler.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-router.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-support-for-variables.md
  docusaurus/docs/how-to-guides/data-source-plugins/create-data-frames.md
  docusaurus/docs/how-to-guides/data-source-plugins/error-handling-in-data-source-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/fetch-data-from-frontend.md
  docusaurus/docs/how-to-guides/data-source-plugins/include-dashboards.md
  docusaurus/docs/how-to-guides/data-source-plugins/index.md
  docusaurus/docs/how-to-guides/panel-plugins/interpolate-variables.md
  docusaurus/docs/key-concepts/backend-plugins/index.md
  docusaurus/docs/key-concepts/data-frames.md
  docusaurus/docs/migration-guides/angular-react/angular-react-convert-from-kbn.md
  docusaurus/docs/migration-guides/angular-react/angular-react-convert-from-time_series2.md
  docusaurus/docs/migration-guides/angular-react/targeting-older-releases.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v9.3.x-9.4.x.md
  docusaurus/docs/publish-a-plugin/sign-a-plugin.md
  docusaurus/docs/reference/metadata.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-data-source-plugin.md
  docusaurus/docs/tutorials/build-an-app-plugin.md
  docusaurus/docs/tutorials/convert-a-frontend-datasource-to-backend.md
  docusaurus/website/docusaurus.config.base.js
Labels: no-changelog

#990 Create Plugin: Fix backend dev env for arm64 hosts
  packages/create-plugin/src/commands/generate/print-success-message.ts
  packages/create-plugin/templates/common/.config/Dockerfile
  packages/create-plugin/templates/common/docker-compose.yaml
Labels: create-plugin, patch, release

#966 Create Plugin: Dynamic webpack publicPath
  packages/create-plugin/templates/common/.config/webpack/publicPath.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/_package.json
Labels: create-plugin, minor, release

#984 Create Plugin: Allow setting feature flags via cli args
  packages/create-plugin/src/constants.ts
  packages/create-plugin/src/utils/tests/utils.config.test.ts
  packages/create-plugin/src/utils/tests/utils.helpers.test.ts
  packages/create-plugin/src/utils/utils.config.ts
  packages/create-plugin/src/utils/utils.helpers.ts
  packages/create-plugin/templates/common/.cprc.json
Labels: create-plugin, minor, release

#991 Docs: Adds clarification notes to data proxy configuration
  docusaurus/docs/how-to-guides/data-source-plugins/add-authentication-for-data-source-plugins.md
  package-lock.json
Labels: type/docs, no-changelog

#994 Adjust license text
  LICENSE
  packages/create-plugin/LICENSE
  packages/plugin-e2e/LICENSE
  packages/plugin-meta-extractor/LICENSE
  packages/sign-plugin/LICENSE
Labels: patch, release

#1001 Create Plugin: Fix CI workflow for E2E tests to successfully run
  packages/create-plugin/templates/github/ci/.github/workflows/ci.yml
Labels: create-plugin, patch, release

#1005 docs: mv convert tutorial to how-to
  docusaurus/docs/how-to-guides/data-source-plugins/convert-a-frontend-datasource-to-backend.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v6.x-v7.x.md
Labels: type/docs, no-changelog

#1004 docs: make how-to descriptions consistent
  docusaurus/docs/how-to-guides/app-plugins/_category_.json
  docusaurus/docs/how-to-guides/app-plugins/index.md
  docusaurus/docs/how-to-guides/data-source-plugins/_category_.json
  docusaurus/docs/how-to-guides/data-source-plugins/index.md
  docusaurus/docs/how-to-guides/index.md
  docusaurus/docs/how-to-guides/panel-plugins/_category_.json
  docusaurus/docs/how-to-guides/panel-plugins/index.md
  docusaurus/docs/how-to-guides/ui-extensions/_category_.json
  docusaurus/docs/how-to-guides/ui-extensions/index.md
Labels: type/docs, no-changelog

#992 Docs: Update plugin.json doc as version is not required
  docusaurus/docs/reference/metadata.md
Labels: type/docs, no-changelog

#1009 docs: update tutorial index
  docusaurus/docs/tutorials/index.md
Labels: type/docs, no-changelog

#993 Docs: Move/redirect files out of 'Create a plugin' folder
  docusaurus/docs/create-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/develop-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/develop-a-plugin/index.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/set-up-github-workflows.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-backend.md
  docusaurus/docs/create-a-plugin/develop-a-plugin/work-with-frontend.mdx
  docusaurus/docs/create-a-plugin/extend-a-plugin/_category_.json
  docusaurus/docs/create-a-plugin/extend-a-plugin/extend-configurations.md
  docusaurus/docs/create-a-plugin/extend-a-plugin/index.md
  docusaurus/docs/create-a-plugin/index.md
  docusaurus/docs/get-started/best-practices.md
  docusaurus/docs/get-started/folder-structure.md
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/get-started/set-up-development-environment.mdx
  docusaurus/docs/how-to-guides/add-anonymous-usage-reporting.md
  docusaurus/docs/how-to-guides/app-plugins/add-return-to-previous-functionality.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-logs-metrics-traces-for-backend-plugins.md
  docusaurus/docs/how-to-guides/panel-plugins/subscribe-events.md
  docusaurus/docs/how-to-guides/plugin-spellcheck.md
  docusaurus/docs/key-concepts/backend-plugins/grafana-plugin-sdk-for-go.md
  docusaurus/docs/migration-guides/migrate-from-toolkit.mdx
  docusaurus/docs/publish-a-plugin/build-automation.md
  docusaurus/docs/reference/prompts.md
  docusaurus/docs/snippets/createplugin-build-fe-dev.npm.md
  docusaurus/docs/snippets/createplugin-build-fe-dev.pnpm.md
  docusaurus/docs/snippets/createplugin-build-fe-dev.yarn.md
  docusaurus/docs/snippets/createplugin-build-fe-prod.npm.md
  docusaurus/docs/snippets/createplugin-build-fe-prod.pnpm.md
  docusaurus/docs/snippets/createplugin-build-fe-prod.yarn.md
  docusaurus/docs/troubleshooting.md
  docusaurus/website/docusaurus.config.base.js
  packages/create-plugin/README.md
  packages/create-plugin/src/constants.ts
  packages/create-plugin/templates/common/.config/_eslintrc
  packages/create-plugin/templates/common/.config/jest-setup.js
  packages/create-plugin/templates/common/.config/jest.config.js
  packages/create-plugin/templates/common/.config/tsconfig.json
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: type/docs, no-changelog

#1011 Plugin.json docs: Remove reference of the removed `generated` property
  docusaurus/docs/reference/metadata.md
Labels: type/docs, no-changelog

#1014 Docs: broken hyperlink
  docusaurus/docs/get-started/get-started.mdx
Labels: type/docs, no-changelog

#1023 Create Plugin: Template dynamic public path
  packages/create-plugin/templates/common/.config/webpack/publicPath.ts
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/_package.json
Labels: create-plugin, patch, release

#1024 update prompts docs
  docusaurus/docs/reference/prompts.md
Labels: type/docs, no-changelog

#1018 Create-Plugin: Simplify Prompts
  .github/workflows/ci.yml
  packages/create-plugin/fixtures/test-template/src/plugin.json
  packages/create-plugin/package.json
  packages/create-plugin/src/commands/generate.command.ts
  packages/create-plugin/src/commands/generate/print-success-message.ts
  packages/create-plugin/src/commands/generate/prompt-user.ts
  packages/create-plugin/src/commands/generate/update-go-sdk-and-packages.ts
  packages/create-plugin/src/constants.ts
  packages/create-plugin/src/types.ts
  packages/create-plugin/src/utils/utils.prettifyFiles.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/templates/app/src/plugin.json
  packages/create-plugin/templates/common/_package.json
  packages/create-plugin/templates/common/src/README.md
  packages/create-plugin/templates/datasource/src/plugin.json
  packages/create-plugin/templates/github/workflows/ci.yml
  packages/create-plugin/templates/github/workflows/is-compatible.yml
  packages/create-plugin/templates/github/workflows/release.yml
  packages/create-plugin/templates/panel/src/plugin.json
  packages/create-plugin/templates/scenes-app/src/plugin.json
Labels: create-plugin, major, release
