Repository grafana/plugin-tools, pull requests merged in 2024-08, with the labels that each got.

#1029 Fix a broken links in the documentation.
  docusaurus/docs/tutorials/build-an-app-plugin.md
Labels: type/docs, no-changelog

#1034 CI: Fix failing docker-compose down command
  .github/workflows/ci.yml
Labels: chore, no-changelog

#1035 Create Plugin: Clean up unused publicPath.ts when updating
  packages/create-plugin/src/commands/update.command.ts
  packages/create-plugin/src/constants.ts
Labels: patch

#1030 Create Plugin: Improve cli args and add docs
  docusaurus/docs/reference/prompts.md
  packages/create-plugin/src/commands/generate.command.ts
  packages/create-plugin/src/utils/utils.cli.ts
  packages/create-plugin/src/utils/utils.console.ts
  packages/create-plugin/src/utils/utils.templates.ts
Labels: type/docs, create-plugin, minor, release

#1037 Create-Plugin: Prevent defaulting values causing prompts to bypass
  packages/create-plugin/src/utils/utils.cli.ts
Labels: create-plugin, patch, release

#1027 Docs(plugin.json): add reference for the `extensions` property
  docusaurus/docs/reference/metadata.md
Labels: type/docs, no-changelog

#1039 Create-Plugin: Add smoke tests to scenes app template
  packages/create-plugin/templates/scenes-app/tests/appConfig.spec.ts
  packages/create-plugin/templates/scenes-app/tests/appNavigation.spec.ts
  packages/create-plugin/templates/scenes-app/tests/fixtures.ts
Labels: minor, release

#1028 Docs: Add App authentication docs
  docusaurus/docs/how-to-guides/app-plugins/add-authentication-for-app-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-authentication-for-data-source-plugins.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
Labels: no-changelog

#1040 Chore: Bump micromatch
  package-lock.json
  package.json
  packages/plugin-meta-extractor/package.json
Labels: patch, chore

#1046 Create Plugin: Update CI workflow for latest GH runners
  packages/create-plugin/templates/github/workflows/ci.yml
Labels: create-plugin, patch, release

#1038 Docs: Add Ratings functionality
  docusaurus/website/docusaurus.config.dev.js
  docusaurus/website/docusaurus.config.js
  docusaurus/website/package.json
  docusaurus/website/src/components/Button/Button.tsx
  docusaurus/website/src/components/Rating/Rating.tsx
  docusaurus/website/src/css/custom.css
  docusaurus/website/src/theme/DocItem/Footer/index.tsx
  docusaurus/website/src/theme/Root.tsx
  docusaurus/website/src/theme/tracking/index.ts
  docusaurus/website/static/img/thumbs-up.svg
  package-lock.json
Labels: type/docs, no-changelog

#1048 Website: Fix tracking
  docusaurus/website/src/theme/Root.tsx
Labels: chore, no-changelog

#1049 Website: Fix logic so ratings work
  docusaurus/website/src/components/Rating/Rating.tsx
Labels: chore, no-changelog

#1050 Website: Make sure ratings passes correct values
  docusaurus/website/src/components/Rating/Rating.tsx
Labels: chore, no-changelog

#1056 Docs: Fix broken links in plugin-types-usage
  docusaurus/docs/key-concepts/plugin-types-usage.md
Labels: no-changelog

#1054 Docs: Add missing Go syntax highlight to add-resource-handler.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-resource-handler.md
Labels: type/docs, no-changelog

#1043 Docs: Add app backend component how-to-guide
  docusaurus/docs/how-to-guides/app-plugins/add-backend-component.md
  docusaurus/docs/shared/backend-plugin-anatomy.md
  docusaurus/docs/shared/troubleshoot-plugin-doesnt-load.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
Labels: no-changelog

#1060 docs: add guidance on extension metadata
  docusaurus/docs/how-to-guides/ui-extensions/register-an-extension.md
  docusaurus/docs/reference/metadata.md
Labels: type/docs, no-changelog

#1063 Docs: Expand contributing with explanation of how auto calculates releases
  CONTRIBUTING.md
Labels: type/docs, no-changelog

#1067 Chore: Refresh npm lock file
  package-lock.json
Labels: chore, no-changelog

#1065 Docs: Replace all absolute production links
  docusaurus/docs/e2e-test-a-plugin/get-started.md
  docusaurus/docs/how-to-guides/data-source-plugins/convert-a-frontend-datasource-to-backend.md
  docusaurus/docs/how-to-guides/data-source-plugins/fetch-data-from-frontend.md
  docusaurus/docs/migration-guides/angular-react/angular-react-convert-from-time_series2.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v7.x-v8.x.md
  docusaurus/docs/publish-a-plugin/provide-test-environment.md
  docusaurus/docs/reference/cli-commands.md
  docusaurus/docs/tutorials/build-a-streaming-data-source-plugin.md
Labels: type/docs, chore, no-changelog

#1064 Chore: replace docker-compose with docker compose commands
  .github/workflows/playwright.yml
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/get-started/set-up-development-environment.mdx
  docusaurus/docs/shared/create-plugin-backend.md
  docusaurus/docs/shared/create-plugin-frontend.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.yarn.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.yarn.md
  docusaurus/docs/troubleshooting.md
  docusaurus/docs/tutorials/build-a-streaming-data-source-plugin.md
  packages/create-plugin/src/commands/generate/print-success-message.ts
  packages/create-plugin/templates/common/.config/README.md
  packages/create-plugin/templates/common/_package.json
  packages/plugin-e2e/package.json
Labels: create-plugin, minor, release, chore

#1070 Plugin E2E: Fix typings for the toHaveAlert matcher
  packages/plugin-e2e/src/index.ts
Labels: patch, release

#1071 Create Plugin: Fix missing module.ts in sourcemaps
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, patch, release, type/bug

#1041 Create Plugin: Wrap app config fields with `<form>`
  packages/create-plugin/templates/app/src/components/AppConfig/AppConfig.tsx
  packages/create-plugin/templates/app/src/components/testIds.ts
  packages/create-plugin/templates/scenes-app/src/components/AppConfig/AppConfig.tsx
Labels: enhancement, create-plugin, patch, release

#1042 Docs: Update the "Prompts" page
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/key-concepts/plugin-types-usage.md
  docusaurus/docs/migration-guides/update-create-plugin-versions.mdx
  docusaurus/docs/reference/cli-commands.md
  docusaurus/docs/reference/cli-commands.mdx
  docusaurus/docs/reference/prompts.md
  docusaurus/docs/snippets/createplugin-update-force.npm.md
  docusaurus/docs/snippets/createplugin-update-force.pnpm.md
  docusaurus/docs/snippets/createplugin-update-force.yarn.md
  docusaurus/website/docusaurus.config.base.js
Labels: type/docs, no-changelog

#1073 Create Plugin: Bump typescript to v5 for plugins
  packages/create-plugin/templates/common/_package.json
Labels: create-plugin, patch, release

#1077 Create Plugin: Bump ts-node
  packages/create-plugin/templates/common/_package.json
Labels: patch, release

#1078 Docs: Remove outdated tracing configuration
  docusaurus/docs/how-to-guides/data-source-plugins/add-logs-metrics-traces-for-backend-plugins.md
Labels: type/docs, no-changelog

#1074 Adds youtube embed partial and embeds getting started video in Get Started page
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/website/src/components/YouTubeEmbed/YouTubeEmbed.tsx
  docusaurus/website/src/theme/MDXComponents.tsx
  package-lock.json
Labels: type/docs, no-changelog

#1082 Chore: Bump lerna to latest
  package-lock.json
  packages/plugin-meta-extractor/src/utils.ts
Labels: patch, release

#1083 Create Plugin): Bump Webpack to >5.94.0
  packages/create-plugin/templates/common/_package.json
Labels: dependencies, create-plugin, patch

#1066 Create Plugin: Drop console statements in production builds
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
  packages/create-plugin/templates/common/_package.json
Labels: create-plugin, patch, release
