Repository grafana/plugin-tools, pull requests merged in 2025-05, with the labels that each got.

#1758 Docs: Add sponsorship link info to docs
  docusaurus/docs/publish-a-plugin/publishing-best-practices.md
  docusaurus/docs/reference/metadata.md
Labels: type/docs, no-changelog

#1621 Create Plugin: Add docker-compose migration for extending from .config
  .gitignore
  libs/output/src/index.ts
  package-lock.json
  package.json
  packages/create-plugin/package.json
  packages/create-plugin/src/migrations/manager.ts
  packages/create-plugin/src/migrations/migrations.ts
  packages/create-plugin/src/migrations/scripts/001-update-grafana-compose-extend.test.ts
  packages/create-plugin/src/migrations/scripts/001-update-grafana-compose-extend.ts
  packages/create-plugin/src/migrations/utils.test.ts
  packages/create-plugin/src/migrations/utils.ts
  rollup.config.ts
  tsup.config.ts
Labels: create-plugin, patch, release

#1761 Create-Plugin: Update plugin-e2e to support latest playwright
  packages/create-plugin/templates/common/_package.json
  packages/create-plugin/templates/common/playwright.config
Labels: create-plugin, minor, release

#1757 Docs: Add Select > Combobox migration to 12.x docs
  docusaurus/docs/migration-guides/update-from-grafana-versions/v11.6.x-v12.0.x.md
Labels: no-changelog

#1770 Docs: auto generate plugin schema reference
  docusaurus/website/package.json
  docusaurus/website/scripts/download-schema.sh
  docusaurus/website/scripts/generate-markdown.sh
  docusaurus/website/scripts/partials/element.md
  docusaurus/website/scripts/partials/example.md
  docusaurus/website/scripts/partials/object.md
  docusaurus/website/scripts/partials/object_property.md
  docusaurus/website/scripts/partials/object_property_header.md
  docusaurus/website/scripts/partials/type.md
Labels: type/docs, no-changelog, documentation, type-docs

#1778 Chore: fix docs anchors
  .gitignore
  docusaurus/docs/e2e-test-a-plugin/get-started.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v7.x-v8.x.md
  docusaurus/docs/publish-a-plugin/build-automation.md
  docusaurus/docs/publish-a-plugin/publishing-best-practices.md
  docusaurus/docs/reference/metadata.md
  docusaurus/docs/tutorials/build-an-app-plugin.md
  docusaurus/website/docusaurus.config.ts
  docusaurus/website/scripts/generate-markdown.sh
Labels: no-changelog, documentation

#1787 Create Plugin: Fix generate command running when updating
  packages/create-plugin/src/utils/utils.cli.ts
Labels: create-plugin, patch, release

#1783 Template: Update scenes app to use scenes 6 and react router 6
  packages/create-plugin/src/types.ts
  packages/create-plugin/src/utils/utils.handlebars.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/templates/common/_package.json
  packages/create-plugin/templates/scenes-app/src/pages/HelloWorld/helloWorldPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/Home/homePage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/humidityOverviewPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/temperatureOverviewPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/withDrilldownPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithTabs/withTabsPage.ts
  packages/create-plugin/templates/scenes-app/src/plugin.json
Labels: minor, release

#1788 Docs: Add how to guide on using service accounts with app plugins
  docusaurus/docs/how-to-guides/app-plugins/use_a_service_account.md
Labels: no-changelog, documentation

#1801 Docs: fixes front matter and enums
  docusaurus/docs/reference/metadata.md
  docusaurus/website/scripts/generate-markdown.sh
  docusaurus/website/scripts/partials/extra_inline.md
  docusaurus/website/scripts/partials/main.md
Labels: type/docs, no-changelog, documentation

#1800 Docs: adding pdc support documentation
  docusaurus/docs/how-to-guides/data-source-plugins/add-support-for-pdc.md
  docusaurus/docs/how-to-guides/data-source-plugins/images/pdc-image-editor.png
Labels: type/docs, no-changelog

#1811 Docs: Clean up example links
  docusaurus/docs/get-started/best-practices.md
  docusaurus/docs/how-to-guides/app-plugins/add-backend-component.md
  docusaurus/docs/how-to-guides/app-plugins/add-resource-handler.md
  docusaurus/docs/how-to-guides/app-plugins/implement-rbac-in-app-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-authentication-for-data-source-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-logs-metrics-traces-for-backend-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-migration-handler-for-backend.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-resource-handler.md
  docusaurus/docs/how-to-guides/data-source-plugins/convert-a-frontend-datasource-to-backend.md
  docusaurus/docs/key-concepts/anatomy-of-a-plugin.md
  docusaurus/docs/key-concepts/backend-plugins/index.md
  docusaurus/docs/plugin-examples/index.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-data-source-plugin.md
Labels: type/docs, no-changelog, documentation

#1809 Chore: fix cspell "doesn't" spelling in create-plugin Webpack config
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, patch, release

#1812 Chore: Update renovate config
  .github/renovate.json5
Labels: dependencies, no-changelog

#1819 Chore: bump check-labels packages
  .github/actions/check-labels/index.js
  .github/actions/check-labels/package-lock.json
  .github/actions/check-labels/package.json
Labels: no-changelog

#1822 Chore: add @libs/version to ignorelist for renovate
  .github/renovate.json5
Labels: no-changelog

#1827 Docs: small fixes to comply better with the grafana writers toolkit
  docusaurus/docs/how-to-guides/data-source-plugins/add-support-for-pdc.md
Labels: type/docs, no-changelog

#1823 Chore: Fix zizmor issues in template workflows
  packages/create-plugin/templates/github/workflows/bundle-stats.yml
  packages/create-plugin/templates/github/workflows/ci.yml
  packages/create-plugin/templates/github/workflows/cp-update.yml
  packages/create-plugin/templates/github/workflows/is-compatible.yml
  packages/create-plugin/templates/github/workflows/release.yml
Labels: patch

#1834 Chore: bumping estree-util-value-to-estre and http-proxy-middleware
  package-lock.json
Labels: no-changelog

#1839 RBAC: Adds `actionsets` and `toc` for rbac
  docusaurus/docs/how-to-guides/app-plugins/implement-rbac-in-app-plugins.md
Labels: type/docs, chore, no-changelog
