Repository grafana/plugin-tools, pull requests merged in 2025-09, with the labels that each got.

#2076 Docs: More BE/FE sweep
  docusaurus/docs/get-started/get-started.mdx
  docusaurus/docs/how-to-guides/data-source-plugins/add-authentication-for-data-source-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-features-for-explore-queries.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-logs-metrics-traces-for-backend-plugins.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-router.md
  docusaurus/docs/how-to-guides/data-source-plugins/add-support-for-externally-shared-dashboards.md
  docusaurus/docs/how-to-guides/data-source-plugins/profile-backend-plugin.md
  docusaurus/docs/key-concepts/anatomy-of-a-plugin.md
  docusaurus/docs/key-concepts/backend-plugins/index.md
  docusaurus/docs/key-concepts/backend-plugins/plugin-protocol.md
  docusaurus/docs/key-concepts/manage-npm-dependencies.md
  docusaurus/docs/key-concepts/plugin-lifecycle.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v6.x-v7.x.md
  docusaurus/docs/migration-guides/update-from-grafana-versions/v7.x-v8.x.md
  docusaurus/docs/reference/cli-commands.mdx
  docusaurus/docs/shared/backend-plugin-anatomy.md
  docusaurus/docs/shared/implement-resource-handler.md
  docusaurus/docs/shared/troubleshoot-plugin-doesnt-load.md
  docusaurus/docs/tutorials/build-a-data-source-backend-plugin.md
  docusaurus/docs/tutorials/build-a-data-source-plugin.md
  docusaurus/docs/tutorials/build-a-streaming-data-source-plugin.md
  docusaurus/website/sidebars.ts
  packages/create-plugin/CHANGELOG.md
  packages/create-plugin/CONTRIBUTING.md
Labels: type/docs, no-changelog

#2082 Docs: Update screenshot for a UI extension example
  docusaurus/docs/key-concepts/ui-extensions.md
  docusaurus/website/static/img/ui-extension-example.gif
  docusaurus/website/static/img/ui-extensions-menu.png
Labels: type/docs, no-changelog

#2080 Docs: Add a how-to guide for function extensions
  docusaurus/docs/how-to-guides/ui-extensions/extension-user-use-function.md
  docusaurus/website/sidebars.ts
Labels: no-changelog

#1559 Docs: Using React Tools debugger with Grafana
  docusaurus/docs/how-to-guides/debugging-plugins.md
  docusaurus/docs/how-to-guides/index.md
  docusaurus/website/sidebars.ts
Labels: type/docs, no-changelog

#2126 Create plugin: fix docker compose migration error
  packages/create-plugin/src/migrations/scripts/001-update-grafana-compose-extend.test.ts
  packages/create-plugin/src/migrations/scripts/001-update-grafana-compose-extend.ts
Labels: create-plugin, patch, release

#2146 CI: use OIDC for publishing NPM packages
  .github/workflows/ci.yml
Labels: no-changelog, ci

#2152 Chore: bump stylistic/eslint-plugin-ts and remove from renovate ignore list
  .github/renovate.json5
  nx.json
  package-lock.json
  package.json
Labels: chore, no-changelog
