Repository grafana/plugin-tools, pull requests merged in 2025-06, with the labels that each got.

#1865 fix: mention required config setting in service account how-to
  docusaurus/docs/how-to-guides/app-plugins/use_a_service_account.md
Labels: type/docs, no-changelog

#1879 Chore: Harden github token permissions
  .github/workflows/ci.yml
  .github/workflows/lapo-create-pr.yml
Labels: no-changelog

#1890 fix: don't exit Webpack on ESLint error in development
  packages/create-plugin/templates/common/.config/webpack/webpack.config.ts
Labels: create-plugin, patch, release

#1897 CI: Disable permissions in CI release
  .github/workflows/ci.yml
Labels: no-changelog, ci

#1898 Docs: Add clean up docs when publishing fails
  CONTRIBUTING.md
Labels: type/docs, no-changelog

#1907 Fix: remove unused bundler configs on update
  packages/create-plugin/src/commands/update.standard.command.ts
Labels: create-plugin, patch, release, type/bug

#1883 Create Plugin: Replace deprecated eslint deprecation plugin
  packages/create-plugin/src/migrations/manager.test.ts
  packages/create-plugin/src/migrations/manager.ts
  packages/create-plugin/src/migrations/migrations.ts
  packages/create-plugin/src/migrations/scripts/003-update-eslint-deprecation-rule.test.ts
  packages/create-plugin/src/migrations/scripts/003-update-eslint-deprecation-rule.ts
  packages/create-plugin/src/migrations/utils.test.ts
  packages/create-plugin/src/migrations/utils.ts
  packages/create-plugin/src/utils/utils.packageManager.ts
  packages/create-plugin/templates/common/.config/_eslintrc
  packages/create-plugin/templates/common/_package.json
  rollup.config.ts
Labels: create-plugin, minor, release

#1912 Chore: Use get-vault-secrets without exporting env variables
  .github/workflows/ci.yml
  .github/workflows/deploy-to-developer-portal-dev.yml
  .github/workflows/deploy-to-developer-portal-prod.yml
  .github/workflows/lapo-create-pr.yml
  .github/workflows/lapo-generate-embeddings.yml
  .github/workflows/playwright.yml
Labels: no-changelog
