Repository grafana/plugin-tools, pull requests merged in 2025-02, with the labels that each got.

#1504 Playwright: Use new GH Pages actions
  .github/workflows/playwright.yml
  docusaurus/docs/e2e-test-a-plugin/ci.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-ds-workflow.yarn.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.npm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.pnpm.md
  docusaurus/docs/snippets/plugin-e2e-fe-plugin-workflow.yarn.md
  docusaurus/website/static/img/e2e-report-summary.png
  packages/create-plugin/templates/_partials/frontend-getting-started.md
  packages/create-plugin/templates/github/workflows/ci.yml
Labels: minor, release

#1520 Adds @grafana/eslint-plugin-plugins package
  .github/ISSUE_TEMPLATE/bug_report.yml
  package-lock.json
  package.json
  packages/eslint-plugin-plugins/.nvmrc
  packages/eslint-plugin-plugins/CONTRIBUTING.md
  packages/eslint-plugin-plugins/LICENSE
  packages/eslint-plugin-plugins/README.md
  packages/eslint-plugin-plugins/package.json
  packages/eslint-plugin-plugins/setup-vitest.ts
  packages/eslint-plugin-plugins/src/index.ts
  packages/eslint-plugin-plugins/src/plugin.json
  packages/eslint-plugin-plugins/src/rules/getPackageExports.ts
  packages/eslint-plugin-plugins/src/rules/importIsCompatible.test.ts
  packages/eslint-plugin-plugins/src/rules/importIsCompatible.ts
  packages/eslint-plugin-plugins/src/rules/index.ts
  packages/eslint-plugin-plugins/src/rules/minGrafanaVersion.ts
  packages/eslint-plugin-plugins/src/rules/tscUtils.ts
  packages/eslint-plugin-plugins/src/rules/types.ts
  packages/eslint-plugin-plugins/tsconfig.json
  packages/eslint-plugin-plugins/vitest.config.ts
Labels: minor, release

#1499 Docs: Added documentation for the new E2E panel edit option API
  docusaurus/docs/e2e-test-a-plugin/test-a-panel-plugin.md
Labels: type/docs, no-changelog, plugin-e2e

#1540 E2E: Fix so color picker works properly in 11.6.0
  packages/plugin-e2e/src/models/components/ColorPicker.ts
Labels: patch, release, plugin-e2e

#1537 logs-datasource: improve show context copy
  docusaurus/docs/tutorials/build-a-logs-data-source-plugin.md
Labels: no-changelog, documentation

#1538 Feature: Updates Scenes templates
  packages/create-plugin/templates/scenes-app/src/components/App/App.tsx
  packages/create-plugin/templates/scenes-app/src/components/Routes/Routes.tsx
  packages/create-plugin/templates/scenes-app/src/pages/HelloWorld/HelloWorld.tsx
  packages/create-plugin/templates/scenes-app/src/pages/HelloWorld/helloWorldPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/HelloWorld/helloWorldScene.ts
  packages/create-plugin/templates/scenes-app/src/pages/Home/Home.tsx
  packages/create-plugin/templates/scenes-app/src/pages/Home/homePage.ts
  packages/create-plugin/templates/scenes-app/src/pages/Home/homeScene.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/RoomTemperatureStat.tsx
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/RoomsTemperatureStat.tsx
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/RoomsTemperatureTable.tsx
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/WithDrilldown.tsx
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/humidityOverviewPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/humidityOverviewScene.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/temperatureOverviewPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/temperatureOverviewScene.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/withDrilldownPage.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithDrilldown/withDrilldownScene.ts
  packages/create-plugin/templates/scenes-app/src/pages/WithTabs/WithTabs.tsx
  packages/create-plugin/templates/scenes-app/src/pages/WithTabs/withTabsPage.ts
Labels: create-plugin, minor, release

#1479 Feat: Create Plugin updates as migrations
  .gitignore
  eslint.config.js
  package-lock.json
  packages/create-plugin/CONTRIBUTING.md
  packages/create-plugin/package.json
  packages/create-plugin/src/commands/update.command.ts
  packages/create-plugin/src/commands/update.migrate.command.ts
  packages/create-plugin/src/commands/update.standard.command.ts
  packages/create-plugin/src/migrations/context.test.ts
  packages/create-plugin/src/migrations/context.ts
  packages/create-plugin/src/migrations/fixtures/foo/bar.ts
  packages/create-plugin/src/migrations/fixtures/foo/baz.ts
  packages/create-plugin/src/migrations/fixtures/migrations.ts
  packages/create-plugin/src/migrations/manager.test.ts
  packages/create-plugin/src/migrations/manager.ts
  packages/create-plugin/src/migrations/migrations.test.ts
  packages/create-plugin/src/migrations/migrations.ts
  packages/create-plugin/src/migrations/scripts/example-migration.test.ts
  packages/create-plugin/src/migrations/scripts/example-migration.ts
  packages/create-plugin/src/migrations/test-utils.ts
  packages/create-plugin/src/migrations/utils.test.ts
  packages/create-plugin/src/migrations/utils.ts
  packages/create-plugin/src/utils/utils.cli.ts
  packages/create-plugin/src/utils/utils.config.ts
  packages/create-plugin/src/utils/utils.console.ts
  packages/create-plugin/src/utils/utils.git.ts
  packages/create-plugin/src/utils/utils.goSdk.ts
  packages/create-plugin/src/utils/utils.templates.ts
  packages/create-plugin/tsconfig.json
  packages/create-plugin/vitest.config.ts
  packages/create-plugin/vitest.d.ts
  packages/create-plugin/vitest.setup.ts
Labels: minor, release

#1555 ESLint: reduces false positives
  packages/eslint-plugin-plugins/src/rules/importIsCompatible.test.ts
  packages/eslint-plugin-plugins/src/rules/importIsCompatible.ts
  packages/eslint-plugin-plugins/src/rules/tscUtils.ts
Labels: patch, release

#1554 Create Plugin: Remove generated dev setup
  packages/create-plugin/CONTRIBUTING.md
  packages/create-plugin/package.json
  packages/create-plugin/src/constants.ts
  packages/create-plugin/src/utils/utils.path.ts
Labels: create-plugin, chore, no-changelog

#1562 Chore: refresh package-lock.json
  .github/renovate.json5
  package-lock.json
  package.json
Labels: chore, no-changelog

#1521 Docs: How to version UI extensions
  docusaurus/docs/how-to-guides/ui-extensions/versioning-extensions.md
  docusaurus/docs/key-concepts/ui-extensions.md
Labels: type/docs, no-changelog

#1560 Create Plugin: fix absolute path being interpreted by shell
  packages/create-plugin/src/utils/utils.prettifyFiles.ts
Labels: create-plugin, patch, release

#1565 Revert "chore(deps): update dependency lerna to ^8.2.0"
  .github/renovate.json5
  package-lock.json
  package.json
Labels: no-changelog, ci

#1575 docs: update links for migration handler
  docusaurus/docs/how-to-guides/data-source-plugins/add-migration-handler-for-backend.md
Labels: type/docs, no-changelog

#1553 Docs: Added migration step for type change in usePluginComponents
  docusaurus/docs/migration-guides/update-from-grafana-versions/v11.5.x-v11.6.x.md
Labels: type/docs, no-changelog

#1534 Docs: Enhance page about build automation with github workflows
  docusaurus/docs/get-started/set-up-development-environment.mdx
  docusaurus/docs/publish-a-plugin/build-automation.md
Labels: type/docs, no-changelog
