Repository grafana/plugin-tools, pull requests merged in 2025-07, with the labels that each got.

#1937 fix: include 'tools' in followup request in LLM docs
  docusaurus/docs/how-to-guides/app-plugins/use-llms-and-mcp.md
Labels: type/docs, no-changelog, type-docs

#1943 Create Plugin: ignore node_modules and dist when running jest in watch mode
  packages/create-plugin/templates/common/.config/jest.config.js
Labels: create-plugin, patch, release

#1948 Website: Stop showing bun commands
  docusaurus/docs/publish-a-plugin/package-a-plugin.md
  docusaurus/docs/shared/createplugin-build-ci.md
  docusaurus/website/docusaurus.config.ts
Labels: type/docs, no-changelog, documentation, type-docs

#1966 Docs: Updates extend-configuration.md
  docusaurus/docs/how-to-guides/extend-configuration.md
Labels: type/docs, no-changelog

#1977 Chore: minimumReleaseAge for automatically merged dependencies
  .github/renovate.json5
Labels: no-changelog

#1971 Create Plugin: fix migrations commit arg
  packages/create-plugin/src/migrations/manager.test.ts
  packages/create-plugin/src/migrations/manager.ts
  packages/create-plugin/src/utils/utils.git.ts
Labels: create-plugin, patch, release

#1983 RBAC: Updates the docs on `actionSets` with limitations on folders and dashboard actions only
  docusaurus/docs/how-to-guides/app-plugins/implement-rbac-in-app-plugins.md
Labels: type/docs, no-changelog

#1989 Docs: Update sign-a-plugin.md
  docusaurus/docs/publish-a-plugin/sign-a-plugin.md
Labels: type/docs, no-changelog

#1999 Revert https://github.com/grafana/plugin-tools/pull/1998/files
  .github/renovate.json5
Labels: no-changelog

#2002 Chore: Update lightningcss
  package-lock.json
  package.json
Labels: chore, no-changelog
